/* for preLoader*/
.preLoader{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
z-index:9999;
background:url(../images/loader.gif)50% no-repeat #fff


}

#textCenter{

text-align:center;
 color: rgb(241,90,36);
letter-spacing:2px;
word-spacing:3px;

}

/*for angular js */
input.ng-invalid{
background-color:pink;
}
input.ng-valid{
background-color:lightgreen;
}
textarea.ng-invalid{
background-color:pink;
}
textarea.ng-valid{
background-color:lightgreen;
}

p{

color:red;
}
select.ng-invalid{
background-color:pink;
}
select.ng-valid{
background-color:lightgreen;
}
#serviceAlert{
color:red;
}
