/* for preLoader*/
.preLoader{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
z-index:9999;
background:url(../images/loader.gif)50% no-repeat #fff


}



#homeTitle{
color:blue;
font-style: italic;
}
#homeDescription{
color:bule;
font-style: italic;
}


#textCenter{

text-align:center;
 color: rgb(241,90,36);
letter-spacing:2px;
word-spacing:3px;

}

/*for angular js */
input.ng-invalid{
background-color:pink;
}
input.ng-valid{
background-color:lightgreen;
}
textarea.ng-invalid{
background-color:pink;
}
textarea.ng-valid{
background-color:lightgreen;
}

p{
color:bule;
font-style: italic;
}
select.ng-invalid{
background-color:pink;
}
select.ng-valid{
background-color:lightgreen;
}


#institutionType{
background-color:pink;

}
#institution{
background-color:pink;

}
#image{
background-color:pink;
}
#name{
background-color:pink;
}
#homeDistrict{
background-color:pink;
}

#department{
background-color:pink;
}
#year{
background-color:pink;
}

#experience{
background-color:pink;
}
#courses{
background-color:pink;
}
#contact{
background-color:pink;
}
#characters{
background-color:pink;
}
#managejobtype{
background-color:pink;
}
#commonName{
background-color:pink;
}
#institutionName{
background-color:pink;
}

#manageinstitutiontype{
background-color:pink;

}

#districtName{
background-color:pink;

}
#qualification{
background-color:pink;

}

#classes{
background-color:pink;

}
#address{
background-color:pink;

}
/*s_vs_t*/
#viewAllCouchingImg{
width:150px;
height:80px;
}
#editTrauncate{
margin-left:10px;
margin-top:2px;
margin-bottom:2px;
}


#editTrauncateByAdmin{
margin-left:10px;
margin-right:2px;
margin-top:2px;
margin-bottom:2px;
}
/*google map*/
#gmap{
width:1800px;
height:400px;
margin:0 auto;
display:block;
}

#gmapjs{
margin-left:2px;
margin-top:20px;
}
#fullNameInNavBar{
margin-top:8px;

}




