
<div  xmlns:th="http://www.thymeleaf.org" th:fragment="footer-js" >

  <hr>
      <footer class="container">
       
       
       
         </footer>

    <!-- JavaScript core-->
  <script th:src="@{webjars/jquery/3.2.0/jquery.min.js}"></script>
  <!-- angular js -->
  <script type="text/javascript" th:src="@{webjars/angularjs/1.7.2/angular.js}"></script>
  
   <!-- Bootstrap core-->
<script  th:src="@{webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
	<!-- Data Table Plug in -->
<script type="text/javascript" th:src="@{webjars/datatables/1.10.19/media/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/datatables/1.10.19/media/js/dataTables.bootstrap.min.js}"></script>
	
	<!-- custom js -->
 <script type="text/javascript" th:src="@{/js/s_vs_t.js}"></script>
 <script type="text/javascript" th:src="@{/js/for_template.js}"></script>
		 
		 
  
  </div>
