
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" xmlns:th="http://www.thymeleaf.org" 
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" th:fragment="nav-bar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
       
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li id="home"><a th:href="@{/}">Home</a>
                    </li>
                     <li id="about"><a th:href="@{/about}">About</a>
                    </li>
                     <li id="addme"><a th:href="@{/showAddme}">Add me</a>
                    </li>
                     <li id="lookteachers"><a th:href="@{/lookteachers}"> Look teachers</a>
                    </li>
                    <li id="manage" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/showManageInstitutionType}"> Manage</a>
                    </li>
                    
                  
                    
                    
                    
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                <!-- by using this after login this part will be vanish -->
              
                <li id="signup"><a th:href="@{/showsignup}" sec:authorize="isAnonymous()">Sign Up</a></li>
                <li id="login"><a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a></li>
            
               
               <li id="fullNameInNavBar" class="dropdown">
                <div th:each="authority:${authorityObject}"  sec:authorize="isAuthenticated()"> 
               
               <a class="btn btn-warning dropdown-toggle" href="javascript:void(0)"
                data-toggle="dropdown" th:text=" ${authority.getFirstName()+' '+authority.getLastName()}">
              <span class="caret"></span>
               
               </a>
               
               <ul class="dropdown-menu">
               <li>
              <a  th:href="@{/logout}" class="btn btn-warning" th:text="'Log out ( '+${authority.getUsername()}+' )'"></a>
               </li>
               
               </ul>
              
               </div> 
              </li>
            
                </ul>
                    
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>





