<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-css :: header-css"></head>

<body>
<div class="preLoader">	</div> 
<div th:replace="fragments/nav-bar :: nav-bar"></div>
	
	<div class="container-fluid">
		<div class="row">
		  <div class=" col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2 ">
         <br><br><br><br><br><br><br>
		<p id="textCenter">
			 Developer : Md.Aslam Hossain<br>
			 University : Hajee Mohammad Danesh Science & Technology University(HSTU),Dinajpur<br>
			 Department : Electronics & Communication Engineering(ECE)<br>
			 Home district : Rajshahi<br>
			 Contact : <br>
			 Phone : 01795667374,01521473544<br>
			 Email : aslam.renu.soft43@gmail.com<br>
			 Face book : Search by 01795667374...Atif Aslam 
			 
			</p>	
				
			
				 
		</div>	
		</div>
	</div>
<div th:replace="fragments/footer-js::footer-js"></div>

</body>

</html>