
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-css :: header-css"></head>


<body data-ng-app="">
<div class="preLoader">	</div> 
<div th:replace="fragments/nav-bar :: nav-bar"></div>
<div class="container-fluid ">
<div class="row">
<div class="col-sm-10 col-sm-offset-1  col-md-10 col-md-offset-1  col-lg-10 col-lg-offset-1">

<br><br><br><br><br>
<div th:if="${message}">
<div class="row">
<div class="col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2">
<div id="textCenter" class="alert alert-info fade in" th:text="${message}"></div>
</div>
</div>
</div>
<br>



<div class="row">
<div class="col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2">
<h3 id="textCenter"><i>Please complete your Registration ! You should fill up every form. </i></h3>
</div>
</div>
<br>

<fieldset>
<form class="form-horizontal" role="form" th:object="${userform}" name="userForm" th:action="@{/signup}" method="post">

<div class="form-group">
<label for="firstname" class="col-sm-3 col-md-3 col-lg-3 control-label">First Name : </label>
<div class="col-sm-7 col-md-7 col-lg-7">
<input type="text" class="form-control" id="firstname" th:field="*{firstName}" data-ng-model="firstName" required placeholder=" Enter First Name" autocomplete="off">
 <p data-ng-show="userForm.firstName.$touched&&userForm.firstName.$invalid"><i>First name is required</i></p>

</div>
</div>

<div class="form-group">
<label for="lastname" class="col-sm-3 col-md-3 col-lg-3 control-label">Last Name : </label>
<div class="col-sm-7 col-md-7 col-lg-7">
<input type="text" class="form-control" id="lastname" th:field="*{lastName}" data-ng-model="lastName" required placeholder=" Enter Last Name" autocomplete="off">
<p data-ng-show="userForm.lastName.$touched&&userForm.lastName.$invalid"><i>Last name is required</i></p>

</div>
</div>

<div class="form-group">
<label for="email" class="col-sm-3 col-md-3 col-lg-3 control-label">Email : </label>
<div class="col-sm-7 col-md-7 col-lg-7">
<input type="email" class="form-control" id="email" th:field="*{username}" data-ng-model="username" required placeholder=" Enter Email" autocomplete="off">
<p data-ng-show="userForm.username.$touched&&userForm.username.$invalid"><i>Email is required</i></p>

</div>
</div>


<div class="form-group">
<label for="password" class="col-sm-3 col-md-3 col-lg-3 control-label">Password : </label>
<div class="col-sm-7 col-md-7 col-lg-7">
<input type="password" class="form-control" id="password" th:field="*{password}" data-ng-model="password" required placeholder=" Enter Password" autocomplete="off">
<p data-ng-show="userForm.password.$touched&&userForm.password.$invalid"><i>Password is required</i></p>

</div>
</div>



<div class="form-group">
<label for="confirmpassword" class="col-sm-3 col-md-3 col-lg-3 control-label">Confirm Password</label>
<div class="col-sm-7 col-md-7 col-lg-7">
<input type="password" class="form-control" id="confirmpassword" th:field="*{confirmPassword}" data-ng-model="confirmPassword" required placeholder=" Enter Confirm Password" autocomplete="off">
<p data-ng-show="userForm.confirmPassword.$touched&&userForm.confirmPassword.$invalid"><i>Confirm password is required</i></p>

</div>
</div>


<div class="form-group">
<label for="word" class="col-sm-3 col-md-3 col-lg-3 control-label">Write some characters(10-50) and mind it for security : </label>
<div class="col-sm-7 col-md-7 col-lg-7">
<input type="text" class="form-control" id="word" th:field="*{word}" data-ng-model="word" required 
placeholder=" Enter some characters(10-50) and mind it  for security " autocomplete="off">
<p data-ng-show="userForm.word.$touched&&userForm.word.$invalid"><i>some characters(10-50) is required</i></p>
<p th:if="${#fields.hasErrors('word')}" th:errors="*{word}"></p>

</div>
</div>

<div class="form-group">
<label for="district" class="col-sm-3 col-md-3 col-lg-3 control-label">District : </label>
<div class="col-sm-7 col-md-7 col-lg-7">
<input type="text" class="form-control" id="district" th:field="*{district}" data-ng-model="district" required placeholder=" Enter Country Name" autocomplete="off">
<p data-ng-show="userForm.district.$touched&&userForm.district.$invalid"><i>District is required</i></p>

</div>
</div>


<div class="form-group">
<label for="detailaddress" class="col-sm-3 col-md-3 col-lg-3 control-label">Detail Address : </label>
<div class="col-sm-7 col-md-7 col-lg-7">
<textarea class="form-control" id="detailaddress" th:field="*{detailAddress}" data-ng-model="detailAddress" required placeholder=" Enter Detail Address" autocomplete="off"></textarea>
<p data-ng-show="userForm.detailAddress.$touched&&userForm.detailAddress.$invalid"><i>Detail Address is required</i></p>

</div>
</div>






	<div class="form-group">
		<label class="control-label col-sm-3 col-md-3 col-lg-3">Select Role :</label>
		<div class="col-sm-7 col-md-7 col-lg-7">
			<label class="checkbox-inline">
			<input type="checkbox" th:field="*{roles}"  value="ADMIN"/>Admin 				
			</label>
			
<p data-ng-show="userForm.roles.$touched&&userForm.roles.$invalid"><i>Role is required</i></p>
		</div>
		
	</div> 	

<div class="forn-group">
<div class="col-sm-2 col-sm-offset-6  col-md-2 col-md-offset-6  col-lg-2 col-lg-offset-6">
<button type="submit" data-ng-disabled="userForm.firstName.$touched&&userForm.firstName.$invalid
||userForm.lastName.$touched&&userForm.lastName.$invalid
||userForm.username.$touched&&userForm.username.$invalid
||userForm.phone.$touched&&userForm.phone.$invalid
||userForm.password.$touched&&userForm.password.$invalid
||userForm.confirmPassword.$touched&&userForm.confirmPassword.$invalid
||userForm.word.$touched&&userForm.word.$invalid
||userForm.country.$touched&&userForm.country.$invalid
||userForm.detailAddress.$touched&&userForm.detailAddress.$invalid
||userForm.roles.$touched&&userForm.roles.$invalid" class="btn btn-primary">Submit</button>
</div>
</div>
<br><br>
<h5><i><a class="col-sm-2 col-sm-offset-8  col-md-2 col-md-offset-8  col-lg-2 col-lg-offset-8" th:href="@{/login}"> Login Directly ?</a></i></h5>



</form>
</fieldset>

</div>
</div>
</div>
<div th:replace="fragments/footer-js::footer-js"></div>
</body>

</html>