<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-css :: header-css(title='Home Page')"></head>

<body>
<div class="preLoader">	</div> 
	<div th:replace="fragments/nav-bar :: nav-bar"></div>


	<div class="container-fluid">
		<div class="row">
			<div class=" col-sm-12 col-md-12 col-lg-12">
			
				<div class="row">
					<div
						class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
						
						<div th:if="${message}">
						       <br><br><br><br>
							<div id="textCenter" th:text="${message}"
								class="alert alert-info fade in "></div>
						
						</div>
					</div>
				</div>
				
				<div
					class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
					    <br><br><br>
			
						<h2 id="homeTitle">You can choose your tutor and couching center</h2>
					   <hr>
				</div>
				
				<div class="row">

					<div class="col-lg-7 col-md-7">
						<a th:href="@{/view-by-job-type?jobtype=Tutor}"> <img class="img-responsive"
							th:src="@{images/tutor.jpg}" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3><a th:href="@{/view-by-job-type?jobtype=Tutor}"><span  class="btn btn-primary">Tutor</span></a></h3>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						
					</div>

				</div>

				<hr>

				<div class="row">

					<div class="col-lg-7 col-md-7">
						<a th:href="@{/view-by-job-type?jobtype=General-Couching-Center}"> <img class="img-responsive"
							th:src="@{images/gcc.jpg}" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3><a th:href="@{/view-by-job-type?jobtype=General-Couching-Center}"><span  class="btn btn-primary">General-Couching-Center</span></a></h3>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						
					</div>

				</div>

				<hr>

				<div class="row">

					<div class="col-lg-7 col-md-7">
						<a th:href="@{/view-by-job-type?jobtype=Admission-Couching-Center}"> <img class="img-responsive"
							th:src="@{images/admission.jpg}" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3><a th:href="@{/view-by-job-type?jobtype=Admission-Couching-Center}"><span  class="btn btn-primary">Admission-Couching-Center</span></a></h3>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						
					</div>

				</div>

				<hr>

			<div class="row">

					<div class="col-lg-7 col-md-7">
						<a th:href="@{/view-by-job-type?jobtype=BCS-Couching-Center}"> <img class="img-responsive"
							th:src="@{images/bcs.jpg}" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3><a th:href="@{/view-by-job-type?jobtype=BCS-Couching-Center}"><span  class="btn btn-primary">BCS-Couching-Center</span></a></h3>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						
					</div>

				</div>


				<hr>

				




			</div>
		</div>
	</div>
	<div th:replace="fragments/footer-js::footer-js"></div>

</body>

</html>