<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-css :: header-css(title='Home Page')"></head>

<body>
<div class="preLoader">	</div> 
	<div th:replace="fragments/nav-bar :: nav-bar"></div>


	<div class="container-fluid">
		<div class="row">
			<div class=" col-sm-12 col-md-12 col-lg-12">
			
				<div class="row">
					<div
						class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
						
						<div th:if="${message}">
						       <br><br>
							<div id="textCenter" th:text="${message}"
								class="alert alert-info fade in "></div>
								<br>
						</div>
					</div>
				</div>
				
				<div
					class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
					    <br>
					     <br>
						<h2 id="homeTitle">You can choose your favourite teachers</h2>
					   <hr>
				</div>
				
				<div class="row">

					<div class="col-lg-7 col-md-7">
						<a href="#"> <img class="img-responsive"
							src="http://placehold.it/700x300" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3>Project One</h3>
						<h4>Subheading</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						<a class="btn btn-primary" href="#">View Project <span
							class="glyphicon glyphicon-chevron-right"></span></a>
					</div>

				</div>

				<hr>

				<div class="row">

					<div class="col-lg-7 col-md-7">
						<a href="#"> <img class="img-responsive"
							src="http://placehold.it/700x300" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3>Project Two</h3>
						<h4>Subheading</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						<a class="btn btn-primary" href="#">View Project <span
							class="glyphicon glyphicon-chevron-right"></span></a>
					</div>

				</div>

				<hr>

				<div class="row">

					<div class="col-lg-7 col-md-7">
						<a href="#"> <img class="img-responsive"
							src="http://placehold.it/700x300" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3>Project Three</h3>
						<h4>Subheading</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						<a class="btn btn-primary" href="#">View Project <span
							class="glyphicon glyphicon-chevron-right"></span></a>
					</div>

				</div>

				<hr>

				<div class="row">

					<div class="col-lg-7 col-md-7">
						<a href="#"> <img class="img-responsive"
							src="http://placehold.it/700x300" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3>Project Four</h3>
						<h4>Subheading</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						<a class="btn btn-primary" href="#">View Project <span
							class="glyphicon glyphicon-chevron-right"></span></a>
					</div>

				</div>

				<hr>

				<div class="row">

					<div class="col-lg-7 col-md-7">
						<a href="#"> <img class="img-responsive"
							src="http://placehold.it/700x300" alt="">
						</a>
					</div>

					<div class="col-lg-5 col-md-5">
						<h3>Project Five</h3>
						<h4>Subheading</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nam viverra euismod odio, gravida pellentesque urna varius vitae.
							Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
							Mauris ultricies, justo eu convallis placerat, felis enim.</p>
						<a class="btn btn-primary" href="#">View Project <span
							class="glyphicon glyphicon-chevron-right"></span></a>
					</div>

				</div>




			</div>
		</div>
	</div>
	<div th:replace="fragments/footer-js::footer-js"></div>

</body>

</html>