
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-css :: header-css"></head>

<body  data-ng-app="">
<div class="preLoader">	</div> 
	<div th:replace="fragments/nav-bar :: nav-bar"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
        
        
        <br><br><br><br>
<div th:if="${message}">
<div class="row">
<div class="col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2 ">
<div id="textCenter" class="alert alert-info fade in" th:text="${message}"></div>
</div>
</div>
</div>
      
        
              <br>
              <div id="textCenter" th:if="${logout}" class="alert alert-info fade in">You have been logged out successfully</div>
			 <div id="textCenter" th:if="${error}" class="alert alert-info fade in">Invalid username and password.</div>
					
              <br>
       
       <div class="row">
<div class=" col-sm-8 col-sm-offset-1  col-md-8 col-md-offset-1  col-lg-8 col-lg-offset-1 ">
<h3 id="textCenter"><i>Login please !!!</i></h3>
</div>
</div>
<br>
        


                 <fieldset>
				<form name="myForm" class="form-horizontal" role="form" th:action="@{/login}" method="post">

					<div class="form-group">
						<label for="email" class="col-sm-2 col-md-2 col-lg-2 control-label">Email:</label>
						<div class="col-lg-8">

							<input type="email" class="form-control"  name="username" data-ng-model="username" required 
							 id="email" placeholder="Enter Email" autocomplete="off">
							 <p data-ng-show="myForm.username.$touched&&myForm.username.$invalid"><i>Valid email is required</i></p>


						</div>
					</div>
                       

					<div class="form-group">
			       <label for="password" class="col-sm-2 col-md-2 col-lg-2  control-label">Password:</label>
						<div class="col-lg-8">
							<input type="password" class="form-control"
							 name="password" data-ng-model="password" required id="password"   placeholder="Enter Password"  autocomplete="off">
                        <p data-ng-show="myForm.password.$touched&&myForm.password.$invalid"><i>Valid password is required</i></p>
                        						
						</div>
					</div>
                  
                  
                  
					<div class="forn-group">
						<div class="col-sm-2 col-sm-offset-2  col-md-2 col-md-offset-2  col-lg-2 col-lg-offset-2 ">
							<button type="submit" 
							data-ng-disabled="myForm.username.$touched&&myForm.username.$invalid
							||myForm.password.$touched&&myForm.password.$invalid" class="btn btn-primary">Submit</button>
						</div>
					</div>
                     
				</form>
				</fieldset>
				<br>
						 <div class="row">
<div  class=" col-sm-4 col-sm-offset-6  col-md-4 col-md-offset-6  col-lg-4 col-lg-offset-6 ">
<a id="fp" href="/show-email-word"> Forgotten Password ?</a>
			
</div>
</div>
	<br>					
								 <div class="row">
<div  class="col-sm-4 col-sm-offset-8  col-md-4 col-md-offset-8  col-lg-4 col-lg-offset-8 ">
   
<a id="nr" href="/showsignup"> New Sign up ?</a>					
</div>
</div>				
													
                   
			</div>
		
		</div>
		
	</div>
	<div th:replace="fragments/footer-js::footer-js"></div>
</body>


</html>