<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header-css :: header-css"></head>

<body data-ng-app="">
<div class="preLoader">	</div> 
<div th:replace="fragments/nav-bar :: nav-bar"></div>
<div class="container-fluid ">
<div class="row">
<div class=" col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2 ">

<br><br><br><br>
<div th:if="${message}">
<div class="row">
<div class=" col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2 ">
<div id="textCenter" class="alert alert-info fade in" th:text="${message}"></div>
</div>
</div>
</div>
<br>
<div class="row">
<div class="col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2 ">
<h3 id="textCenter"><i>Edit your job ?</i></h3>
</div>
</div>
<br>
<fieldset>
<form class="form-horizontal" role="form" name="userForm" th:action="@{/update-word}"  method="post">


<div class="form-group">
<label for="word" class="col-sm-3 col-md-3 col-lg-3  control-label">A word which added during registration  : </label>
<div class="col-sm-7 col-md-7 col-lg-7 ">
<input type="text" class="form-control" id="word" name="word" data-ng-model="word" required placeholder=" Enter a word which added during registration" autocomplete="off">
<p data-ng-show="userForm.word.$touched&&userForm.word.$invalid"><i>A word is required which you added during registration</i></p>

</div>
</div>

<input type="hidden" class="form-control" name="id" th:value="${id}">

		

<div class="forn-group">
<div class="col-sm-4 col-sm-offset-5  col-md-4 col-md-offset-5  col-lg-4 col-lg-offset-5">
<button type="submit" data-ng-disabled="userForm.word.$touched&&userForm.word.$invalid" class="btn btn-primary">Submit</button>
</div>
</div>

</form>
</fieldset>
</div>
</div>
</div>
<div th:replace="fragments/footer-js::footer-js"></div>
</body>
</html>